.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Basic Jumbotron CSS */
.jumbotron {
  background-color: #f8f9fa; /* Background color */
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

/* Example styling for heading and text within the jumbotron */
.jumbotron h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.jumbotron p {
  font-size: 1.2rem;
  color: #555;
}

.form-decorate{
  background-color: #f7f7f7; /* Background color for the form */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  margin-top: 20px;
}